<div class="navbar-wrap">
    <div class="navbar-logo">
        JOB PORTAL
    </div>
    <div class="navbar-content">
        <div class="content-btn">
            <span class="employers">EMPLOYERS</span>
        </div>
        <div class="content-btn">
            REGISTER
        </div>
        <div class="content-btn">
            LOGIN
        </div>
        <div class="content-btn">
            ABOUT
        </div>
        <div class="content-btn">
            HOME
        </div>
        
    </div>
</div>