<div class="navbar-wrap">
    <div class="navbar-logo  c-pointer" routerLink="/">
        JOB PORTAL
    </div>
    <div class="navbar-content">
        <div class="content-btn">
            <span class="employers">EMPLOYERS</span>
        </div>
        <div class="content-btn" routerLink="/candidate/register">
            REGISTER
        </div>
        <div class="content-btn" routerLink="/login">
            LOGIN
        </div>
        <div class="content-btn">
            ABOUT
        </div>
        <div class="content-btn">
            HOME
        </div>
        
    </div>
</div>