

<div class="candidate-wrapper">
    <div class="candidate-navbar">
        <app-candidate-navbar></app-candidate-navbar>
    </div>

    <p class="m-5 p-5">
                    Quickly get a project started with any of our examples ranging from using ... Example pricing page built with Cards and featuring a custom header and footer.
            ‎Bottom Navbar example · ‎Fixed top navbar example for... · ‎Album · ‎Sign-in
            L: 807LD: 30.6MI: 25.3KRank: 2.10KAge: errorwhoissourceRank: 4.83KAdv Disp Ads: 6Pub Disp Ads: 13

            2Sticky Footer Template for Bootstrapgetbootstrap.com › docs › examples › sticky-footer
            Sticky footer. Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. Use the sticky footer with a fixed navbar ...
            L: 709LD: 30.6MI: 25.3KRank: 2.10KAge: errorwhoissourceRank: 4.83KAdv Disp Ads: 6Pub Disp Ads: 13

            3Bootstrap Footer - examples & tutorialmdbootstrap.com › MDB 5 - (Bootstrap 5)
            Responsive Footer built with the latest Bootstrap 5. Multiple code examples: at bottom, fixed, colors, with logo, with menu & many more.
            L: 27LD: 2.28MI: 34.5KRank: 12.7KAge: errorwhoissourceR
    </p>

    <div class="candidate-footer">
        <app-candidate-footer></app-candidate-footer>
    </div>
</div>