<app-navbar></app-navbar>

<div class="container">
    <div class="col-lg-8" style="margin: auto;">
        <div *ngIf="curr_step == 1" class="form">
            <h2 class="mb-3">Personal Details</h2>
            <p>Hy, Aman this will take only a few minutes</p>
            <hr/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="dob">Date of Birth</label>
                        <input #dob type="date" placeholder="DOB"/>
                    </div>

                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <div>
                            <input type="radio" name="gender" style="width:40px;"/><label>Male</label>
                            <input type="radio" name="gender" style="width:40px;"/><label>Female</label>
                            <input type="radio" name="gender" style="width:40px;"/><label>Transgender</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="marital_status">Marital Status</label>
                        <br/>
                        <select #marital_status>
                            <option value="single">Single/Unmarried</option>
                            <option value="married">Married</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="category">Category</label>
                        <br/>
                        <select #category>
                            <option value="general">General</option>
                            <option value="obc">OBC</option>
                            <option value="scst">SC/ST</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="ap">Area Pincode</label>
                        <input #ap type="number" placeholder="Pincode"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="nationality">Marital Status</label>
                        <br/>
                        <select #nationality>
                            <option value="indian">Indian</option>
                            <option value="other">Other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="differently_abled">Differently Abled</label>
                        <br/>
                        <select #nationality>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="language">Gender</label>
                        <div>
                            <input type="checkbox" name="language" style="width:40px;"/><label>English</label>
                            <input type="checkbox" name="language" style="width:40px;"/><label>Hindi</label>
                            <input type="checkbox" name="language" style="width:40px;"/><label>Other</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pa">Permanent Address</label>
                        <input #pa type="text" placeholder="Address"/>
                    </div>

                    <div class="form-group">
                        <label for="hometown">Hometown</label>
                        <input #hometown type="text" placeholder="Hometown"/>
                    </div>
                    
                    <button (click)="onStepUp()">Next</button>
                </div>
            </div>
        </div>

        <div *ngIf="curr_step == 2" class="form">
            <h2 class="mb-3">Qualification Details</h2>
            <hr/>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Email">Your Name</label>
                        <input #name type="text" placeholder="Name"/>
                    </div>

                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input #email type="text" placeholder="Username"/>
                    </div>

                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input #pass type="password" placeholder="Password"/>
                    </div>

                    <button (click)="onStepDown()" style="float:left;">Back</button>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Email">Your Name</label>
                        <input #name type="text" placeholder="Name"/>
                    </div>

                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input #email type="text" placeholder="Username"/>
                    </div>

                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input #pass type="password" placeholder="Password"/>
                    </div>
                    
                    <button (click)="getHired()">Get Hired</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
