.form { 
  border: 3px solid #f1f1f1; 
} 

/*Size of the Login Form*/
.col-btn{
  padding: 50px;
  box-shadow: 0px 0px 14px 0px #a79e9e;
  border-radius: 10px;
  background-color: white;
}

/*Social Media*/
.googlebtn{
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px;
    margin-top: 10px;
    color: white;
    width: 300px;
    border-radius: 7px;
    background-color: #c23321;
    text-align: center;
}

.fbbtn{
  position:relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  padding: 3px;
  color: white;
  width: 300px;
  border-radius: 7px;
  background-color: #005983;
  text-align: center;
}
/*OR Creation*/
.or-sec {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #d4dfef;
  position: relative;

}

/*Frame of Email*/
.email{
  margin-top: 10px;
}

/*assign full width inputs*/ 
input[type=text], 
input[type=password] { 
  width: 100%; 
  padding: 12px 20px; 
  margin: 8px 0; 
  display: inline-block; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
} 

/*set a style for the buttons*/ 
.submitbtn { 
  background-color: #4CAF50; 
  color: white; 
  padding: 7px 20px 10px; 
  margin-top: 13px;
  border: none; 
  cursor: pointer; 
  width: 20%; 
  float: right;
} 

/* set a hover effect for the Submit button*/ 
.submitbtn:hover { 
  opacity: 0.8; 
} 

/*set padding to the container*/ 
.container { 
  padding: 16px;
} 

.login-form{
  background: url(../../../assets/image/Login.jpg);
}

/*set the forgot password text*/ 
span.psw { 
  float: right; 
  padding-top: 0px; 
} 

/*set styles for span and cancel button on small screens*/ 
@media screen and (max-width: 300px) { 
  span.psw { 
      display: block; 
      float: none; 
  } 
} 