<div class="footer-wrap">
    <div class="copyright">© Copyright 2021. All Rights Reserved.</div>
    <div class="social-icons">
        <a href="javascript:void(0)">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="javascript:void(0)">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="javascript:void(0)">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="javascript:void(0)">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </div>
    <div class="time-zone">
        {{currentDate | date:'dd-MM-yyyy'}}
    </div>
</div>