<app-navbar></app-navbar>
<div class="nav"></div>
<div class="Main">
    
    <!-- MainPage -->
    <div class="content">
        <h1>Talent?</h1>
        <h2>Meet Opportunity.</h2>
        <p>A mystical adventure discover the new world</p>
        <div class="Job-btn">
            <button type="button" class="btn">Find Jobs</button>
            <button type="button" class="btn">Find Employers</button>
            <button type="button" class="btn">Find Candidates</button>
        </div>
    </div>

        <!--Comapnys-->
        <section id="Companies" class="comapny">
            <div class="column-1">
                <img src="https://static.instahyre.com/images/employers/customers-lg.png" alt="Company">
            </div>
        </section>
    
    <!--WorkProcess-->
    <section id="WorkProcess" class="cases flex-grid section-padding">
        <header class="section-header">
            <h2>How it Works</h2>
            <p><u class="overline">Just create your account, We'll quickly match you with your dream Job</u></p>
        </header>
    </section>

    <!--Create, Search & Apply-->
    <section id="about" class="icons bg-light">
        <div class="flex-items">
            <div>
                <i class="fa fa-user-circle fa-3x"></i>
                <div>
                    <br>
                    <h3>Create an Account</h3>
                </div>
            </div>
            <div>
                <i class="fa fa-search fa-3x"></i>
                <div>
                    <br>
                    <h3>Search for Jobs</h3>
               </div>
            </div>
            <div>
                <i class="fa fa-check-circle-o fa-3x"></i>
                <div>
                    <br>
                    <h3>Save & Apply</h3>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Solutions -->
    <section id="solutions" class="solutions flex-columns">
        <div class="row">
            <div class="column">
                <div class="column-1">
                    <img src="../../../assets/image/job.png" alt="Job Poster">
                </div>
            </div>
            <div class="column">
                <div class="row1">
                    <h2>ARE YOU LOOKING FOR A</h2>
                    <h3>CANDIDATE?</h3>
                    <p>Find your perfect candidate.</p>
                    <button type="button" class="btn-1">Find Candidates</button>   
                </div>
                <div class="row2">
                    <h2>DO YOU WANT TO FIND A</h2>
                    <h3>JOB?</h3>
                    <p> Find your desire Job here.</p>
                    <button type="button" class="btn-1">Find Job</button>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>
